
/* Input */
.eit-input, .eit-select, .eit-textarea  {
	@include border-round(3px);
  @extend .eit-color--text;
  @extend .eit-border--all;
  @extend .eit-border--color;
  @extend .eit-bg--color;
	@include transition('color 0.2s ease-in-out');
	&:focus {
		@extend .eit-color--text;
    @extend .eit-border--color-focus;
    @extend .eit-bg--color;
		outline: 0;
		@extend .eit-box-shadow--none;
		@include transition('border 0.2s ease-in-out');
	}
	&:disabled {
    @extend .eit-opacity--disabled;
	}
	&::placeholder {
    @extend .eit-color--text-soft;
	}
	&.is-invalid {
		@extend .eit-box-shadow--none;
		background: none;
		background-color: var(--eit-color-bg);
    @extend .eit-bg--color;
		border-color: lch(from var(--eit-color-red) l c h / .5);
		&:focus {
      border-color: lch(from var(--eit-color-red) l c h / .9);
			@extend .eit-box-shadow--none;
		}
		&~.invalid-feedback {
      @extend .eit-color--red;
			@extend .eit-box-shadow--none;
		}
	}
	&:focus + .eit-label-float,
	&:not(:placeholder-shown) + .eit-label-float {
		@include transition('transform 0.2s ease-in-out, color 0.2s ease-in-out');
		@extend .eit-color--text;
		& {
			transform: translateY(-100%) scale(0.85);
		}
	}
}

.eit-input, .eit-select  {
	height: 3rem; /* 48px */
	&__display {
		display: flex;
		position: relative;
		align-items: center;
		&__icon {
			position: absolute;
			@extend .eit-color--text-soft;
			font: {
				size: 20px;
			}
		}
 		&__float {
			&-left {
				&--icon {
					left: 10px;
				}
				input {
					padding-left: 40px;
				}
				> .eit-label-float {
					margin-left: 25px;
				}
			}
			&-right {
				&--icon {
					right: 10px;
				}
				input {
					padding-right: 40px;
				}
			}
		}
		a.eit-input__display-icon {
			@include transition('color 0.2s ease-in-out');
			&:hover {
				@extend .eit-color--text;
			}
		}
	}
}

/* Label float */
.eit-label-float {
  position: absolute;
  top: 12px;
  left: 12px;
	padding: 0 5px;
  pointer-events: none;
  transform-origin: left center;
	@extend .eit-font__size--x3;
	@include border-round(5px);
	@extend .eit-bg--color;
	@extend .eit-color--text-soft;
	@include transition('transform 0.2s ease-in-out, color 0.2s ease-in-out');
}

.eit-input-group {
	.input-group-text {
		@extend .eit-color--text-soft;
		@extend .eit-border--color;
		@extend .eit-bg--color-mute;
	}
}

/* Checkbox */
.eit-checkbox {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  @extend .eit-font--primary;
  @extend .eit-font__size--x2;
  @extend .eit-color--text;
  @include user-select(none);
  &__input {
    height: 0;
    width: 0;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    &:checked ~ .eit-checkbox__checkmark {
			border-color: var(--eit-color-secondary);
			background-color: var(--eit-color-secondary);
      &:after {
        display: block;
      }
    }
  }
  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
		@extend .eit-border--all;
		@extend .eit-border--color;
    @extend .eit-bg--color-soft;
    @include border-round(3px);
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 7px;
      top: 3px;
      width: 5px;
      height: 10px;
      border: solid var(--eit-color-white);
      border-width: 0 2px 2px 0;
      @include rotate(45deg);
    }
  }
	&--inline {
		display: inline-flex;
		.eit-checkbox__checkmark {
			top: -10px;
		}
	}
	&.disabled {
		cursor: not-allowed;
		.eit-checkbox__checkmark {	
			background-color: lch(from var(--eit-color-black) calc(l + 98) c h);
			border-color: lch(from var(--eit-color-black) calc(l + 94) c h);
		}
		.eit-checkbox__input:checked ~ .eit-checkbox__checkmark {
			opacity: 0.2;
			border-color: var(--eit-color-secondary)!important;
			background-color: var(--eit-color-secondary);
		}
	}
  &:not(.disabled):hover .eit-checkbox__input ~ .eit-checkbox__checkmark {
		@extend .eit-bg--color-mute;
  }
  &:not(.disabled):hover .eit-checkbox__input:checked ~ .eit-checkbox__checkmark {
		border-color: lch(from var(--eit-color-secondary) calc(l - 5) c h);
		background-color: lch(from var(--eit-color-secondary) calc(l - 5) c h);
  }
}

/* Textarea */
.eit-textarea {
	resize: none;
	&-resize {
		height: 48px;
		padding: 10px;
		overflow-y: hidden;
	}
}

/* Switch */
.eit-switch {
	position: relative;	
	display: inline-block;
	width: 50px;
	height: 25px; 
	margin: 4px;
	&__input { 
		display: none; 
	}
	&__slider {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border: 4px solid transparent;
		overflow: hidden;
		transition: 0.2s;
		box-shadow: 0 0 0 2px var(--eit-color-text-soft);
		&:before {
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			background-color: var(--eit-color-text-soft);
			transform: translateX(-25px);
			transition: 0.2s;
			@include border-round(25px);
		}
		@include border-round(25px);
		@extend .eit-cursor--pointer;
	}
	&__input:checked + &__slider:before {
		transform: translateX(25px);
		background-color: var(--eit-color-secondary);
	}
	&__input:checked + &__slider {
		box-shadow: 0 0 0 2px var(--eit-color-secondary);
	}
}

//Calendar
.vc-popover-content {
	border-color: var(--eit-color-bg-mute);
	background-color: var(--eit-color-bg);
	.vc-popover-content-wrapper {
		.vc-popover-content {
			background-color: var(--eit-color-bg-soft);
			.vc-nav-container {
				.vc-nav-header, .vc-nav-items {
					button {
						color: var(--eit-color-text-soft);
						background-color: var(--eit-color-bg-soft);
						&:hover {
							color: var(--eit-color-text);
							background-color: var(--eit-color-bg-mute);
						}
						&.is-active {
							color: var(--eit-color-white);
							background-color: var(--eit-color-primary);
						}
						&.vc-focus:focus-within {
							box-shadow: 0 0 0;
						}
					}	
				}
			}
		}
	}
	.vc-container {
		background-color: var(--eit-color-bg-soft);
		.vc-pane-container {
			.vc-pane-header-wrapper {
				z-index: 1;
				.vc-header {
					.vc-arrow {
						background-color: var(--eit-color-bg-mute);
						&:hover {
							background-color: var(--eit-color-bg-mute);
						}
						&.vc-focus:focus-within {
							box-shadow: 0 0 0;
						}
					}
				}
			}
			.vc-pane-layout {
				.vc-pane {
					.vc-header {
						.vc-title {
							color: var(--eit-color-text-soft);
							background-color: var(--eit-color-bg-mute);
							&:hover {
								color: var(--eit-color-text);
								background-color: var(--eit-color-bg-mute);
							}
							&.vc-focus:focus-within {
								box-shadow: 0 0 0;
							}
						}
					}
					.vc-weeks {
						.vc-week {
							.vc-day {
								.vc-day-layer.vc-blue {
									.vc-highlight {
										background-color: lch(from var(--eit-color-primary) l c h / .2);
									}
								}
								.vc-highlight-content-outline, .vc-highlight-content-light {
									color: var(--eit-color-text);
								}
								.vc-highlight-content-solid {
									background-color: var(--eit-color-primary);
								}
								& {
									color: var(--eit-color-text);
								}
							}
						}
					}
				}
			}
		}
	}
}