[data-eit-theme="light"] {
  --eit-color-text: #666666;
	--eit-color-text-soft: rgba(60, 60, 60, .5);
	--eit-color-border: #EAEAEA;
	--eit-color-border-focus: #DADADA;
  --eit-color-bg: #FFFFFF;
	--eit-color-bg-soft: #f9f9f9;
  --eit-color-bg-mute: #f1f1f1;

	.eit-box-shadow {
		&--bottom {
			box-shadow: 0 5px 10px var(--eit-color-border);
		}
		&--center {
			box-shadow: 0 0 10px var(--eit-color-border);
		}
		&--inset {
			box-shadow: inset 0 0 8px lch(from var(--eit-color-black) calc(l + 92) c h);
		}
	}
}

[data-eit-theme="dark"] {
  --eit-color-text: #ffffffDE;
	--eit-color-text-soft: rgba(235, 235, 235, .4);
	--eit-color-border: rgba(84, 84, 84, .65);
	--eit-color-border-focus:rgba(110, 110, 110, .65);
  --eit-color-bg: #1A1A1A;
	--eit-color-bg-soft: #242424;
	--eit-color-bg-mute: #2f2f2f;
}

:root {
  /* Corporate colors */
	--eit-color-primary: var(--eit-c-primary);
  --eit-color-secondary: var(--eit-c-secondary);
	--eit-color-tertiary: var(--eit-c-tertiary);

	--eit-color-corp-purple: #17072B;
	--eit-color-corp-blue: #2E73EA;
	--eit-color-corp-turquoise: #22DDD2;

  /* Elemental colors */
  --eit-color-black: #000000;
  --eit-color-white: #FFFFFF;

  /* Other colors */
	--eit-color-green: #62BF04;
  --eit-color-red: #ff6347;
  --eit-color-yellow: #f2b404;
  --eit-color-blue: #0094c0;

  /* Typography */
  --eit-primary-font: 'Avenir', sans-serif;
	--eit-font-size-base: 1rem;		/* 16px */
  --eit-font-size-x1: calc(var(--eit-font-size-base) * 0.75);  /* 12px */
  --eit-font-size-x2: calc(var(--eit-font-size-base) * 0.875); /* 14px */
  --eit-font-size-x3: calc(var(--eit-font-size-base) * 1);     /* 16px */
  --eit-font-size-x4: calc(var(--eit-font-size-base) * 1.125); /* 20px */
  --eit-font-size-x5: calc(var(--eit-font-size-base) * 1.25);  /* 22px */
  --eit-font-size-x6: calc(var(--eit-font-size-base) * 1.5);   /* 24px */
  --eit-font-size-x7: calc(var(--eit-font-size-base) * 1.75);  /* 28px */
  --eit-font-size-x8: calc(var(--eit-font-size-base) * 2);     /* 32px */
  --eit-font-size-x9: calc(var(--eit-font-size-base) * 2.25);  /* 36px */ 
  --eit-font-size-x10: calc(var(--eit-font-size-base) * 2.5);  /* 40px */

	/* Border */
	--eit-border-width: 1px;
	--eit-border-style: solid;
}

/* Sass colors */
$eit-color-corp-purple: #17072B;
$eit-color-corp-blue: #2E73EA;
$eit-color-corp-turquoise: #22DDD2;

$eit-color-black: #000000;
$eit-color-white: #FFFFFF;

$eit-color-green: #62BF04;
$eit-color-red: #ff6347;
$eit-color-yellow: #f2b404;
$eit-color-blue: #0094c0;

/* Mixin */
@mixin keyframes($name) {
	@keyframes #{$name} {
		@content;
	}
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-o-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
}

@mixin animation($str) {
	& {
		animation: #{$str};
		-moz-animation: #{$str};
		-webkit-animation: #{$str};
		-ms-animation: #{$str};
		-o-animation: #{$str};
	}
}

@mixin transition($str) {
	& {
		transition: #{$str};
		-webkit-transition: #{$str};
		-moz-transition: #{$str};
		-ms-transition: #{$str};
		-o-transition: #{$str};
	}
}

@mixin rotate($str) {
	& {
		transform: rotate($str);
		-webkit-transform: rotate($str);
		-moz-transform: rotate($str);
		-ms-transform: rotate($str);
		-o-transform: rotate($str);
	}
}

@mixin border-round($radius) {
	& {
		border-radius: $radius;
		-webkit-border-radius: $radius;
		-moz-border-radius: $radius;
		-ms-border-radius: $radius;
		-o-border-radius: $radius;
	}
}

@mixin user-select($attr) {
	& {
		user-select: $attr;
		-webkit-user-select: $attr;
		-moz-user-select: $attr;
		-ms-user-select: $attr;
		-o-user-select: $attr;
	}
}

/* Color */
.eit-color {
  //Theme
	&--text {
		color: var(--eit-color-text);
		fill: var(--eit-color-text);
		@include transition('all 0.2s ease-in');
		&--link {
			&:hover, &:focus, &:active {
				color: lch(from var(--eit-color-text) calc(l - 20) c h);
				fill: lch(from var(--eit-color-text) calc(l - 20) c h);
			}
		}
	}
	&--text-soft {
		color: var(--eit-color-text-soft);
		fill: var(--eit-color-text-soft);
		@include transition('all 0.2s ease-in');
		&--link {
			&:hover, &:focus, &:active {
				color: lch(from var(--eit-color-text-soft) calc(l - 20) c h);
				fill: lch(from var(--eit-color-text-soft) calc(l - 20) c h);
			}
		}
	}
	//Corporate
	&--primary {
		color: var(--eit-color-primary);
		fill: var(--eit-color-primary);
		@include transition('all 0.2s ease-in');
		&--link {
			&:hover, &:focus, &:active {
				color: lch(from var(--eit-color-primary) calc(l - 20) c h);
				fill: lch(from var(--eit-color-primary) calc(l - 20) c h);
			}
		}
	}
	&--secondary {
		color: var(--eit-color-secondary);
		fill: var(--eit-color-secondary);
		@include transition('all 0.2s ease-in');
		&--link {
			&:hover, &:focus, &:active {
				color: lch(from var(--eit-color-secondary) calc(l - 20) c h);
				fill: lch(from var(--eit-color-secondary) calc(l - 20) c h);
			}
		}
	}
	&--tertiary {
		color: var(--eit-color-tertiary);
		fill: var(--eit-color-tertiary);
		@include transition('all 0.2s ease-in');
		&--link {
			&:hover, &:focus, &:active {
				color: lch(from var(--eit-color-tertiary) calc(l - 20) c h);
				fill: lch(from var(--eit-color-tertiary) calc(l - 20) c h);
			}
		}
	}
	//Others
	&--green {
		color: var(--eit-color-green);
		fill: var(--eit-color-green);
		@include transition('all 0.2s ease-in');
		&--link {
			&:hover, &:focus, &:active {
				color: lch(from var(--eit-color-green) calc(l - 20) c h);
				fill: lch(from var(--eit-color-green) calc(l - 20) c h);
			}
		}
	}
	&--red {
		color: var(--eit-color-red);
		fill: var(--eit-color-red);
		@include transition('all 0.2s ease-in');
		&--link {
			&:hover, &:focus, &:active {
				color: lch(from var(--eit-color-red) calc(l - 20) c h);
				fill: lch(from var(--eit-color-red) calc(l - 20) c h);
			}
		}
	}
  &--yellow {
		color: var(--eit-color-yellow);
		fill: var(--eit-color-yellow);
		@include transition('all 0.2s ease-in');
		&--link {
			&:hover, &:focus, &:active {
				color: lch(from var(--eit-color-yellow) calc(l - 20) c h);
				fill: lch(from var(--eit-color-yellow) calc(l - 20) c h);
			}
		}
	}
	&--blue {
		color: var(--eit-color-blue);
		fill: var(--eit-color-blue);
		@include transition('all 0.2s ease-in');
		&--link {
			&:hover, &:focus, &:active {
				color: lch(from var(--eit-color-blue) calc(l - 20) c h);
				fill: lch(from var(--eit-color-blue) calc(l - 20) c h);
			}
		}
	}
	//Neutral
	&--white {
		color: var(--eit-color-white);
		fill: var(--eit-color-white);
	}
	&--black {
		color: var(--eit-color-black);
		fill: var(--eit-color-black);
	}
	&--underline {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

/* Background */
.eit-bg {
  //Theme
	&--color {
		background-color: var(--eit-color-bg);
	}
	&--color-soft {
		background-color: var(--eit-color-bg-soft);
	}
	&--color-mute {
		background-color: var(--eit-color-bg-mute);
	}
	//Corporate
	&--primary {
		background-color: var(--eit-color-primary);
	}
	&--secondary {
		background-color: var(--eit-color-secondary);
	}
	&--tertiary {
		background-color: var(--eit-color-tertiary);
	}
	//Others
	&--green {
		background-color: var(--eit-color-green);
	}
	&--red {
		background-color: var(--eit-color-red);
	}
  &--yellow {
		background-color: var(--eit-color-yellow);
	}
	&--blue {
		background-color: var(--eit-color-blue);
	}

	//Demo
	&--text-demo {
		background-color: var(--eit-color-text);
	}
	&--text-soft-demo {
		background-color: var(--eit-color-text-soft);
	}
}

/* Border */
.eit-border {
	//Side
	&--all {
		border: var(--eit-border-width) var(--eit-border-style);
	}
	&--top {
		border-top: var(--eit-border-width) var(--eit-border-style);
	}
	&--bottom {
		transition-property: none;
		border-bottom: var(--eit-border-width) var(--eit-border-style);
	}
	&--left {
		border-left: var(--eit-border-width) var(--eit-border-style);
	}
	&--right {
		border-right: var(--eit-border-width) var(--eit-border-style);
	}
  //Theme
	&--color {
		border-color: var(--eit-color-border);
	}
	&--color-focus {
		border-color: var(--eit-color-border-focus);
	}
	//Corporate
	&--primary {
		border-color: var(--eit-color-primary);
	}
	&--secondary {
		border-color: var(--eit-color-secondary);
	}
	&--tertiary {
		border-color: var(--eit-color-tertiary);
	}

  //Others
	&--green {
		border-color: var(--eit-color-green);
	}
	&--red {
		border-color: var(--eit-color-red);
	}
  &--yellow {
		border-color: var(--eit-color-yellow);
	}
	&--blue {
		border-color: var(--eit-color-blue);
	}

	//Radius
	&--round-x3 {
		@include border-round(3px);
	}
	&--round-x5 {
		@include border-round(5px);
	}
	&--round-x10 {
		@include border-round(10px);
	}
	&--round {
		@include border-round(50%);
	}
	&--round-left-x60 {
		@include border-round(60px 3px 3px 60px);
	}
	&--round-right-x60 {
		@include border-round(3px 60px 60px 3px);
	}
}

/* Font */
.eit-font {
	//Family
	&--primary {
		font-family: var(--eit-primary-font);
	}
	//Size
	&__size {
		&--x10 {
			font-size: var(--eit-font-size-x10);
		}
		&--x9 {
			font-size: var(--eit-font-size-x9);
		}
		&--x8 {
			font-size: var(--eit-font-size-x8);
		}
		&--x7 {
			font-size: var(--eit-font-size-x7);
		}
		&--x6 {
			font-size: var(--eit-font-size-x6);
		}
		&--x5 {
			font-size: var(--eit-font-size-x5);
		}
		&--x4 {
			font-size: var(--eit-font-size-x4);
		}
		&--x3 {
			font-size: var(--eit-font-size-x3);
		}
		&--x2 {
			font-size: var(--eit-font-size-x2);
		}
		&--x1 {
			font-size: var(--eit-font-size-x1);
		}
	}
	//Weight
	&__weight {
		&--300 {
			font-weight: 300;
		}
		&--500 {
			font-weight: 500;
		}
		&--900 {
			font-weight: 900;
		}
	}
	&__line-clamp {
		&--1 {
			@supports (-webkit-line-clamp: 1) {
				-webkit-line-clamp: 1;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
		}
		&--2 {
			@supports (-webkit-line-clamp: 2) {
				-webkit-line-clamp: 2;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@extend .eit-font--primary;
	@extend .eit-color--text;
}

/* Global */
* {
	@extend .eit-font--primary;
	-webkit-font-smoothing: antialiased;
	&::selection {
		color: var(--eit-color-white);
		@extend .eit-bg--tertiary;
	}
}

html {
	scroll-behavior: smooth;
	height: 100vh;
}

body {
	min-height: 100vh;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@extend .eit-bg--color;
}

.app {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "page";
}

/* Utilities */
[v-cloak] {
  display: none;
}
.eit-flex {
	&--center {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&--end {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	&--space-between {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
.eit-circle {
	display: inline-flex;
	height: 10px;
	width: 10px;
	&--16	{
		height: 16px;
		width: 16px;
	}
	@include border-round(50%);
}

.eit-square {
	@extend .eit-flex--center;
	@extend .eit-border--round-x3;
	&--60 {
		height: 60px;
		width: 60px;
	}
	&--40 {
		height: 40px;
		width: 40px;
	}
}

.eit-cursor {
	&--pointer {
		cursor: pointer;
	}
}
.eit-box-shadow {
	&--none {
		box-shadow: none;
	}
}
.eit-scroll {
	&--custom {
		scrollbar-width: thin;
		scrollbar-color: var(--eit-color-bg-soft) transparent;
		overflow: overlay;
		scrollbar-gutter: stable;
		&:hover {
			scrollbar-color: var(--eit-color-border-focus) transparent;
		}
	}
}

.eit-opacity {
	&--80 {
		opacity: .8;
	}
	&--disabled {
		opacity: .5;
	}
}

.eit-rotate {
	&--90 {
		@include rotate(90deg);
	}
	&__mobile {
		@media (max-width: 991px) {
			&--90 {
				@include rotate(90deg);
			}
		}
	}
}

.eit-icon-enter {
	transition-property: none;
	display: inline-flex;
	height: 25px;
	width: 25px;
	cursor: help;
	@extend .eit-flex--center;
	@extend .eit-border--all;
	@extend .eit-color--text-soft;
	@extend .eit-font__size--x1;
	@extend .eit-border--color;
	@extend .eit-bg--color-mute;
	@include border-round(3px);
}

.eit-avatar {
	display: inline-flex;
	height: 90px;
	width: 90px;
	padding: 5px;
	@extend .eit-flex--center;
	@extend .eit-border--all;
	@extend .eit-color--text-soft;
	@extend .eit-font__size--x1;
	@extend .eit-border--color;
	@extend .eit-box-shadow--center;
	@include border-round(50%);
}

/* Dropdown */
.eit-dropdown {
	&-hide-arrow {
		&::after {
			display: none;
		}
	}
	.dropdown-menu {
		@extend .eit-border--color;
		@extend .eit-bg--color-soft;
		&--300 {
			min-width: 300px;
		
		}
	}
	.dropdown-divider {
		@extend .eit-border--color;
	}
	.dropdown-item, .dropdown-item-text {
		padding: 0.4rem 1rem;
		@extend .eit-color--text-soft;
	}
	.dropdown-item {
		@extend .eit-font__size--x2;
		@include border-round(10px);
		@include transition('all 0.2s ease-in');
		&:hover, &:focus, &:active {
			@extend .eit-bg--color-mute;
		}
	}
}

/* Modal */
.eit-modal {
	.modal-dialog {
		.modal-content {
			@extend .eit-bg--color;
			.modal-header, .modal-footer {
				@extend .eit-border--color;
			}
			.modal-header {
				.btn-close {
					display: flex;
					@extend .eit-color--text-soft;
					font-size: 30px;
					background: none;
					padding: 0;
					&:focus {
						box-shadow: 0 0 0;
					}
				}
			}
		}
	}
}

//List menu 
.eit-list-menu {
	display: flex;
	flex-direction: column;
	@extend .eit-border--round-x3;
	@extend .eit-bg--color-soft;
	padding: 15px;
	gap: 5px;
	&-item {
		display: flex;
		align-items: center;
		height: 45px;
		padding: 0 10px;
		font-size: 1rem;
		text-decoration: none;
		@extend .eit-color--text-soft;
		@include border-round(10px);
		@include transition('color 0.2s ease-in');
		&:hover {
			@extend .eit-color--text;
			@extend .eit-bg--color-mute;
		}
		&.active {
			@include transition('color 0.2s ease-in');
			@extend .eit-color--tertiary;
			@extend .eit-bg--color-mute;
		}
	}
}

//List group
.eit-list-group {
	display: flex;
	flex-direction: column;
	&-item {
		display: flex;
		align-items: center;
		padding: 0 10px;
		font-size: 1rem;
		text-decoration: none;
		@extend .eit-color--text-soft;
		@extend .eit-border--bottom;
		@extend .eit-border--color;
		@include transition('color 0.2s ease-in');
		&:last-child {
			border-bottom: 0;
		}
		&-action {
			&:hover {
				@extend .eit-color--text;
				@extend .eit-bg--color-soft;
			}
		}
	}
}

.eit-btn-action {
	display: inline-flex;
	color: var(--eit-color-text-soft);
	padding: 3px 10px;
	@include border-round(3px);
	@include transition('background-color 0.2s ease-in-out');
	&:hover {
		color: var(--eit-color-text-soft);
		background-color: var(--eit-color-bg-mute);
	}
	&:focus, &:active {
		color: var(--eit-color-text-soft);
	}
}

.filters{
	&__container {
		min-height: 35px;
	}
}

//Tippy Themes
.tippy-box[data-theme~='main'] {
	background-color: var(--eit-color-primary);
	color: var(--eit-color-white);
	@extend .eit-font--primary;
}
.tippy-box[data-theme~='main'][data-placement^='top'] > .tippy-arrow::before {
	border-top-color: var(--eit-color-primary);
}
.tippy-box[data-theme~='main'][data-placement^='bottom']
	> .tippy-arrow::before {
	border-bottom-color: var(--eit-color-primary);
}
.tippy-box[data-theme~='main'][data-placement^='left']
	> .tippy-arrow::before {
	border-left-color: var(--eit-color-primary);
}
.tippy-box[data-theme~='main'][data-placement^='right']
	> .tippy-arrow::before {
	border-right-color: var(--eit-color-primary);
}

